*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  background-color: #EBEBEB;
}

.Home{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.btn{
  width: 100px;
  height:30px;
  margin-right: 20px;
}

.btn-primary{
  color: black;
}
.logo-1{
  width: 60px;
  display: flex;
  margin: 0;
  background-color: blue;
}
.hov-cart:hover {
  transition: 0.3s;
  box-shadow: 0 0 0 1px blue;
}

.img-loading{
  width: 150px;
}
#cart {
  position: relative;
  display: inline-block;
}


#cart-count {
  position: absolute;
  top: -5px;
  right: -11px;
  font-size: 12px;
  color: blue;
  background-color: #86EFAC;
  border-radius: 50%;
  padding: 0px;
  width: 15px;
  height: 18px;
  text-align: center;
}

.fa-shopping-cart{
  font-size: 24px;
  color: #22C55E;
}
.border-dashed {
  border-style: dashed;
  border-width: 1px;
  border-color: gray;
  border-radius: 0.375rem; /* opcional, para redondear las esquinas */
  padding: 1rem; /* opcional, para agregar relleno alrededor del contenido */
}
.cart-comp{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
}
.cart-comp h3{
  text-align: center;
}
.cart-comp p{
  font-size: 12px;
  text-align: left;
}
.cart-comp button i{
  transition: .5ms;
  color: #22C55E;
}
.cart-comp button:hover i{
  color: #86EFAC;
}
.pz4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 10px;
}
.cart-comp img{
  max-width: 100%;
  height: auto;
}
.fa-trash{
  cursor: pointer;
  color:rgb(211, 30, 30);
}
.fa-trash:hover{
  color:rgba(211, 10, 10, 0.651);
}